@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,200&display=swap');

*{
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.quiz-app {
  background-color: #fc60cd;
  min-height: 100vh;
}

.my-card {
   background-color: #252d4a!important;
   box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
   margin-top: 150px;
   height: 300px;
   padding: 10px;
}

.text-question {
  font-size: 13px;
}
.question-count > h2 {
  text-align: center;
}
.question-count > h2 > span {
  font-size: 20px;
}

.answer-btn {
  display: block;
  margin: 5px;
  padding:5px 10px 5px 10px;
  background-color: #333;
  border-radius: 5px;
  border:#fc60cd 2px solid;
  font-size: 13px;
  transition: .4s;
}

.answer-btn:hover {
  color:#fc60cd ;
   border:#EDE2CC 2px solid;
}


.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-score {
  display: block;
  text-align: center;
  margin-top: 100px;
}

.show-score > p {
  font-size: 30px;
}

.start-button {
  margin-top: 270px;
  padding: 10px 50px 10px 50px;
  font-size: 50px;
  background-color: #333;
  border: #EDE2CC 2px solid;
  border-radius: 20px;
  word-spacing: 3px;
  transition: .3s;
}

.start-button:hover {
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  color: #fc60cd;
  
}

.try-again {
  margin-left: 20px;
  margin: 5px;
  padding:5px 10px 5px 10px;
  background-color: #333;
  border-radius: 5px;
  border:#fc60cd 2px solid;
  font-size: 13px;
  transition: .4s;
}

.try-again:hover {
   color:#fc60cd ;
   border:#EDE2CC 2px solid;
}


@media only screen and (min-width: 768px){
  .question-flex {
    display: flex;
    justify-content: space-evenly;
     height: min-content;
  }
  .answers > .answer-btn {
    font-size: 15px;
    margin: 25px 0 25px 0;
  }
  .text-question {
    font-size: 15px;
  }
  .question-count > h2 > span {
   font-size: 25px;
  }
  .try-again {
    font-size: 20px;
  }
  .my-card {
    margin-top: 250px;
  }

}

@media only screen and (max-width:320px) {
  .my-card {
    margin-top: 120px;
  }
  .start-button {
    font-size: 30px;
    margin-top: 230px;
  }
}
